<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<f:if condition="{t3themesConf.headerTextColor}"><style type="text/css">.headerC{data.uid},.headerC{data.uid} a,.headerC{data.uid} p{color:{t3themesConf.headerTextColor}!important;}</style></f:if>

	<f:switch expression="{t3themesConf.headerFullWidth}">
		<f:case value="onlybg">
		<!-- Background > Container -->
			<header class="header headerC{data.uid}" style="{f:if(condition:'{t3themesConf.headerBgColor}',then:'background-color:{t3themesConf.headerBgColor};',else:'')}">
				<div class="container">
					<f:render section="LayoutInner" arguments="{_all}" />
				</div>
			</header>
		</f:case>
		<f:case value="container">
		<!-- Background + Container -->
			<header class="header headerC{data.uid}">
				<div style="{f:if(condition:'{t3themesConf.headerBgColor}',then:'background-color:{t3themesConf.headerBgColor};',else:'')}" class="container">
					<f:render section="LayoutInner" arguments="{_all}" />
				</div>
			</header>
		</f:case>
		<f:case default="TRUE">
		<!-- Background (No Container) -->
			<header class="header headerC{data.uid}" style="{f:if(condition:'{t3themesConf.headerBgColor}',then:'background-color:{t3themesConf.headerBgColor};',else:'')}">
				<f:render section="LayoutInner" arguments="{_all}" />
			</header>
		</f:case>
	</f:switch>

	<!-- SECTIONS START -->
		<f:section name="LayoutInner">

			<!-- Header -->
	        <f:if condition="{t3themesConf.headerLogo} != 'hide'">
	        	<f:switch expression="{t3themesConf.headerStyle}">
	        		<f:case value="2">
						<p>Variant2 is not defined.</p>
	        		</f:case>
	        		<f:case default="true">
	        			<f:render section="Variant1" arguments="{_all}" />
	        		</f:case>
	        	</f:switch>
	        </f:if>

		</f:section>

		<f:section name="Variant1">

	        <div class="header-block header-block-collapse d-lg-none d-xl-none"><button class="collapse-btn" id="sidebar-collapse-btn"><i class="fa fa-bars"></i></button></div>
	        <div class="header-block header-block-nav">
				<f:render section="HeaderContent" arguments="{_all}" />
	        </div>

		</f:section>

		<f:section name="LogoImage">
			<f:if condition="{t3themesConf.headerLogoUrl}">
				<a href="/"><img style="background:{f:if(condition:t3themesConf.headerLogoBgColor,then:t3themesConf.headerLogoBgColor,else:'transparent')};padding:12px;margin:12px 0 0 0;padding-top:0;" src="{t3themesConf.headerLogoUrl}" alt="{t3themesConf.headerLogoUrl}" /></a>
				<!-- f.media maybe? -->
			</f:if>

		</f:section>

		<f:section name="HeaderContent">

			<!-- HEADER CONTENT -->
				<f:switch expression="{t3themesConf.headerDisplay}">
					<f:case value="shownav">
						<f:if condition="{f:cObject(typoscriptObjectPath:'{t3themesConf.headerTsnavigation}')}">
							<f:then>
								<!-- SHOW CHOOSEN NAVIGATION -->
								{f:cObject(typoscriptObjectPath:'{t3themesConf.headerTsnavigation}')}
							</f:then>
							<f:else>
							</f:else>
						</f:if>
					</f:case>
					<f:case value="showads">
						<!-- RENDER ADS CODE -->
						<f:if condition="{t3themesConf.headerContentAdsCode}">
							<f:then>
								{t3themesConf.headerContentAdsCode->f:format.raw()}
							</f:then>
							<f:else>
								<!-- ADS CODE IS EMPTY -> ShOW THEME DEFAULT -->
								<p>Here could be your ad!<br/>Here could be your ad!<br/>Here could be your ad!</p>
							</f:else>
						</f:if>
					</f:case>
					<!-- TODO: RENDER tt_content  -->
					<f:case value="showuid">
						<h3>[[tt_content]]</h3>
					</f:case>
				</f:switch>

		</f:section>
	<!-- SECTIONS END -->

</html>
